<b>
  UsersData
</b> <br>
<fieldset>
<form #UserData="ngForm" (ngSubmit)="addUser(UserData.value)">
  FirstName :<input type="text" name="firstname" ngModel >
  LastName  :<input type="text" name="lastname" ngModel >
  DateofJoin:<input type="date" name="DateofJoin" ngModel >
  salary    :<input type="number" name="salary" ngModel >
  <input type="submit"  name="submit">
</form>
</fieldset>
<table>
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>DateofJoin</th>
    <th>salary</th>
  </tr>
  <tr *ngFor="let uData of userList">
    <td>{{uData.firstname}}</td>
    <td>{{uData.lastname}}</td>
    <td>{{uData.DateofJoin}}</td>
    <td>{{uData.salary}}</td>
  </tr>
</table>
<router-outlet></router-outlet>
